.sidebarOption {
    display:flex;
    align-items:center;
    font-size:12px;
    padding-left:2px;
    cursor:pointer;
}
.sidebaroption:hover {
    opacity:0.9;
    background-color: #340e36;
}

.sidebarOption__icon{
    padding:10px;
    font-size:15px !important;
}

.sidebarOption__channel{
    padding: 10px 0;
}
.sidebar__hash{
    padding:10px;
}

.sidebarOption > h3{
    font-weight:500;
}